# First Create Functions to Grab today's games, then align and wrangle the data for machine learning.

In [3]:
#In here is how we use current NBA statistics to predict the outcome of future games. 
import pandas as pd
import numpy as np
from datetime import datetime

In [4]:
today = datetime.now()
day = today.day
month = today.month
year = today.year

In [7]:
today.day

7

In [8]:
from nba_py import Scoreboard

ex = Scoreboard(month=month,day=day,year=year)

In [9]:
games = ex.game_header()['GAMECODE']

In [10]:
teams  = games.values[0][-6:]

In [11]:
ex

In [12]:
linescore = ex.line_score()

In [13]:
linescore.TEAM_ABBREVIATION

0     OKC
1     CLE
2     DET
3     ORL
4     NYK
5     ATL
6     SAS
7     MIA
8     IND
9     PHI
10    MEM
11    DEN
12    NOP
13    CHI
14    UTA
15    DAL
16    SAC
17    TOR
18    LAL
19    MIN
Name: TEAM_ABBREVIATION, dtype: object

In [15]:
def get_todays_games():
    
    today = datetime.now()
    day = today.day - 1
    month = today.month
    year = today.year
 
    ex = Scoreboard(month=month,day=day,year=year)
    games = ex.game_header()['GAMECODE']
    matchups = []
    matchups.append(['road','home'])
    for game in games:
        away_team = game[-6:-3]
        home_team = game[-3:]

        if away_team == 'BKN':
            away_team = 'BRK'
        if home_team == 'BKN':
            home_team = 'BRK'
        
        matchups.append([away_team,home_team])
        
    return matchups

In [18]:
matchups = get_todays_games()[1:]

In [66]:
#matchups
import numpy as np
from nba_py import team
teams = team.TeamList()
teamids = teams.info()
teamids = teamids[:-15]
teamids = teamids[['TEAM_ID','ABBREVIATION']]
teamids = teamids.rename(index=str, columns={"ABBREVIATION": "Team"})
teamids = teamids.replace('BKN','BRK')
teamids = teamids.sort_values('Team')

todays_dataframe = []
for matchup in matchups:
    game_array = []
    for team_ in matchup:
        TEAM_ID = teamids.loc[teamids['Team'] == team_].values[0,0]
        print(team_,TEAM_ID)
        
        TEAM_splits = team.TeamLastNGamesSplits(team_id=TEAM_ID,season='2018-19')
       # print(TEAM_splits.last20())
        df = TEAM_splits.last20()
        
        #retain (and create) the columns already proven to be statistically correlated to outcome. 
        df = df[['FGM','FG3M','FTM','DREB','AST','STL','TOV','BLK','PTS','FG3_PCT','FG_PCT','FT_PCT','REB']]
        df['AST/TO'] = df['AST']/df['TOV']
        game_array.append(df.values)
        
    matchup_array = np.concatenate((game_array[0],game_array[1]),axis=1)
    todays_dataframe.append(matchup_array)

#quick formating!
todays_dataframe = np.array(todays_dataframe)
todays_dataframe[:,0,:]

ATL 1610612737
CHA 1610612766
WAS 1610612764
DAL 1610612742
BRK 1610612751
PHX 1610612756
MIL 1610612749
POR 1610612757

In [67]:
matchups

[['ATL', 'CHA'], ['WAS', 'DAL'], ['BRK', 'PHX'], ['MIL', 'POR']]

In [82]:
todays_dataframe = np.array(todays_dataframe)

todays_dataframe[:,0,:]

In [42]:
game_array[1]

array([[  42.5       ,   11.6       ,   20.7       ,   40.3       ,
          20.5       ,    6.2       ,   14.9       ,    4.6       ,
         117.3       ,    0.361     ,    0.47      ,    0.854     ,
          51.8       ,    1.37583893]])

In [34]:
df = df[['FGM','FG3M','FTM','DREB','AST','STL','TOV','BLK','PTS','FG3_PCT','FG_PCT','FT_PCT','REB']]

df['AST/TO'] = df['AST']/df['TOV']

/Users/noahkasmanoff/anaconda/lib/python3.6/site-packages/ipykernel/__main__.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  app.launch_new_instance()

In [35]:
df

,FGM,FG3M,FTM,DREB,AST,STL,TOV,BLK,PTS,FG3_PCT,FG_PCT,FT_PCT,REB,AST/TO
0,42.5,11.6,20.7,40.3,20.5,6.2,14.9,4.6,117.3,0.361,0.47,0.854,51.8,1.375839

As discovered previously, the relevant columns are 
The relevant statistics identified are  ['FG', '3P', 'FT', 'DR', 'AST', 'ST', 'TO', 'BL', 'PTS', 'SPREAD', '3P%', 'FG%', 'FT%', 'TRB', 'AST/TO']

In [ ]:
def get_splits(matchups,n):
    """Returns aligned n game splits of road team and home team. 
    """

In [19]:
import numpy as np
from nba_py import team
teams = team.TeamList()
teamids = teams.info()
teamids = teamids[:-15]
teamids = teamids[['TEAM_ID','ABBREVIATION']]
teamids = teamids.rename(index=str, columns={"ABBREVIATION": "Team"})
teamids = teamids.replace('BKN','BRK')
teamids = teamids.sort_values('Team')

In [20]:
teamids
TEAM_ID = teamids.loc[teamids['Team'] == TEAMABR].values[0,0]

       TEAM_ID Team
0   1610612737  ATL
1   1610612738  BOS
13  1610612751  BRK
28  1610612766  CHA
4   1610612741  CHI
2   1610612739  CLE
5   1610612742  DAL
6   1610612743  DEN
27  1610612765  DET
7   1610612744  GSW
8   1610612745  HOU
16  1610612754  IND
9   1610612746  LAC
10  1610612747  LAL
25  1610612763  MEM
11  1610612748  MIA
23  1610612749  MIL
12  1610612750  MIN
3   1610612740  NOP
14  1610612752  NYK
22  1610612760  OKC
15  1610612753  ORL
17  1610612755  PHI
18  1610612756  PHX
19  1610612757  POR
20  1610612758  SAC
21  1610612759  SAS
29  1610612761  TOR
24  1610612762  UTA
26  1610612764  WAS

In [ ]:
    
def get_splits(TEAMABR,ten=False,twenty=False,regseason=True):
    """returns the splits of a team over the past N days. Will consider changing this to a from - to thing for different dates. 
    
    Parameters
    ----------
    TEAMABR : str
    	Abbreviation of the desired team. Ex: Atlanta = ATL.  

    Returns 
    -------
    teamsplits : array	
    	Array of desired team's statistics over the previous N games. 

    """
    import numpy as np
    from nba_py import team
    teams = team.TeamList()
    teamids = teams.info()
    teamids = teamids[:-15]
    teamids = teamids[['TEAM_ID','ABBREVIATION']]

    teamids = teamids.rename(index=str, columns={"ABBREVIATION": "Team"})
    teamids = teamids.replace('BKN','BRK')
    teamids = teamids.sort_values('Team')

    TEAM_ID = teamids.loc[teamids['Team'] == TEAMABR].values[0,0]
    teamids = pd.get_dummies(teamids)
    teamarray = teamids.loc[teamids['TEAM_ID'] == TEAM_ID].values[0,1:]


    TEAM = team.TeamLastNGamesSplits(team_id=TEAM_ID,season='2017-18')
    if ten:
        df = TEAM.last10()
    if twenty:
        df = TEAM.last20()
    if regseason:
        TEAM = team.TeamGeneralSplits(team_id=TEAM_ID,season='2017-18')
        df = TEAM.overall()
   # if five:
        #df = TEAM
    
    #df = df[['OREB','DREB','REB','PF','STL','TOV','BLK','FG3_PCT','FG_PCT','FT_PCT']].values
    #roto version now. 
    
    df = df[[]]
    teamsplits = np.concatenate((df[0],teamarray))
    return teamsplits

# Get the spread of today's game

In [88]:
# Get spread data from OddsShark.com
from bs4 import BeautifulSoup
import pandas as pd
import urllib

data = pd.DataFrame(columns = ['Date', 'Opponent', 'Game', 'Result', 'Score', 'ATS', 'Spread', 'OU', 'Total', 'Preview', 'Recap', 'Team'])
for team in range(20722,20752): #20722 - 20752 Oddshark IDs for all the teams
    for year in range(2019, 2020): #Spread Data only goes back to 2013-2014 season
        url = str('https://www.oddsshark.com/stats/gamelog/basketball/nba/%d/%d' %  (team, year))
        page = urllib.request.urlopen(url).read()
        soup = BeautifulSoup(page, "lxml")
        table = soup.find_all('table')[0]
        df = pd.read_html(str(table))[0]
        df['Team'] = soup.find_all('h1')[0].text
        data = data.append(df)

/Users/noahkasmanoff/anaconda/lib/python3.6/site-packages/pandas/core/frame.py:6211: FutureWarning: Sorting because non-concatenation axis is not aligned. A future version
of pandas will change to not sort by default.

To accept the future behavior, pass 'sort=False'.

To retain the current behavior and silence the warning, pass 'sort=True'.

  sort=sort)

In [97]:
data[['Date','Opponent','Spread','Team']].dropna()

            Date          Opponent  Spread                              Team
0   Oct 16, 2018   vs Philadelphia    -5.0     Boston Celtics - NBA Schedule
1   Oct 19, 2018         @ Toronto     3.0     Boston Celtics - NBA Schedule
2   Oct 20, 2018        @ New York    -9.5     Boston Celtics - NBA Schedule
3   Oct 22, 2018        vs Orlando   -11.0     Boston Celtics - NBA Schedule
4   Oct 25, 2018   @ Oklahoma City    -1.0     Boston Celtics - NBA Schedule
5   Oct 27, 2018         @ Detroit    -3.5     Boston Celtics - NBA Schedule
6   Oct 30, 2018        vs Detroit    -8.5     Boston Celtics - NBA Schedule
7    Nov 1, 2018      vs Milwaukee    -2.5     Boston Celtics - NBA Schedule
8    Nov 3, 2018         @ Indiana    -3.5     Boston Celtics - NBA Schedule
9    Nov 5, 2018          @ Denver     1.5     Boston Celtics - NBA Schedule
0   Oct 17, 2018     @ LA Clippers    -2.5     Denver Nuggets - NBA Schedule
1   Oct 20, 2018        vs Phoenix   -10.0     Denver Nuggets - NBA Schedule
2   Oct 21, 2018   vs Golden State     4.5     Denver Nuggets - NBA Schedule
3   Oct 23, 2018     vs Sacramento   -11.5     Denver Nuggets - NBA Schedule
4   Oct 25, 2018       @ LA Lakers    -1.0     Denver Nuggets - NBA Schedule
5   Oct 29, 2018    vs New Orleans    -9.5     Denver Nuggets - NBA Schedule
6   Oct 31, 2018         @ Chicago    -8.0     Denver Nuggets - NBA Schedule
7    Nov 1, 2018       @ Cleveland    -5.0     Denver Nuggets - NBA Schedule
8    Nov 3, 2018           vs Utah    -4.5     Denver Nuggets - NBA Schedule
9    Nov 5, 2018         vs Boston    -1.5     Denver Nuggets - NBA Schedule
0   Oct 17, 2018      vs Minnesota    -2.5  San Antonio Spurs - NBA Schedule
1   Oct 20, 2018        @ Portland     4.5  San Antonio Spurs - NBA Schedule
2   Oct 22, 2018       @ LA Lakers     1.5  San Antonio Spurs - NBA Schedule
3   Oct 24, 2018        vs Indiana    -1.5  San Antonio Spurs - NBA Schedule
4   Oct 27, 2018      vs LA Lakers     1.0  San Antonio Spurs - NBA Schedule
5   Oct 29, 2018         vs Dallas    -7.0  San Antonio Spurs - NBA Schedule
6   Oct 31, 2018         @ Phoenix    -6.5  San Antonio Spurs - NBA Schedule
7    Nov 3, 2018    vs New Orleans    -2.0  San Antonio Spurs - NBA Schedule
8    Nov 4, 2018        vs Orlando    -7.5  San Antonio Spurs - NBA Schedule
0   Oct 17, 2018       @ Charlotte    -3.5    Milwaukee Bucks - NBA Schedule
..           ...               ...     ...                               ...
2   Oct 20, 2018         @ Indiana     8.0      Brooklyn Nets - NBA Schedule
3   Oct 24, 2018       @ Cleveland     3.0      Brooklyn Nets - NBA Schedule
4   Oct 26, 2018     @ New Orleans     8.5      Brooklyn Nets - NBA Schedule
5   Oct 28, 2018   vs Golden State     9.5      Brooklyn Nets - NBA Schedule
6   Oct 29, 2018        @ New York     1.0      Brooklyn Nets - NBA Schedule
7   Oct 31, 2018        vs Detroit    -2.5      Brooklyn Nets - NBA Schedule
8    Nov 2, 2018        vs Houston     4.0      Brooklyn Nets - NBA Schedule
9    Nov 4, 2018   vs Philadelphia     4.0      Brooklyn Nets - NBA Schedule
10   Nov 6, 2018         @ Phoenix    -2.5      Brooklyn Nets - NBA Schedule
0   Oct 17, 2018          vs Miami     2.5      Orlando Magic - NBA Schedule
1   Oct 19, 2018      vs Charlotte     1.5      Orlando Magic - NBA Schedule
2   Oct 20, 2018    @ Philadelphia    12.5      Orlando Magic - NBA Schedule
3   Oct 22, 2018          @ Boston    11.0      Orlando Magic - NBA Schedule
4   Oct 25, 2018       vs Portland     3.5      Orlando Magic - NBA Schedule
5   Oct 27, 2018       @ Milwaukee     9.0      Orlando Magic - NBA Schedule
6   Oct 30, 2018     vs Sacramento    -4.5      Orlando Magic - NBA Schedule
7    Nov 2, 2018    vs LA Clippers     3.5      Orlando Magic - NBA Schedule
8    Nov 4, 2018     @ San Antonio     7.5      Orlando Magic - NBA Schedule
9    Nov 5, 2018      vs Cleveland    -4.0      Orlando Magic - NBA Schedule
0   Oct 17, 2018      vs Milwaukee     3.5  Charlotte Hornets - NBA Schedule
1   Oct 19, 2018         @ Orlando    -1.5  Charlotte Hornets - NBA Schedule
2   Oct 20, 2018           @ Miami     3.5  Charlotte Hornets - NBA Schedule
3   Oct 22, 2018         @ Toronto     8.5  Charlotte Hornets - NBA Schedule
4   Oct 24, 2018         @ Chicago    -4.5  Charlotte Hornets - NBA Schedule
5   Oct 26, 2018        vs Chicago   -10.5  Charlotte Hornets - NBA Schedule
6   Oct 27, 2018    @ Philadelphia     7.0  Charlotte Hornets - NBA Schedule
7   Oct 30, 2018          vs Miami    -3.0  Charlotte Hornets - NBA Schedule
8    Nov 1, 2018  vs Oklahoma City    -1.0  Charlotte Hornets - NBA Schedule
9    Nov 3, 2018      vs Cleveland   -10.0  Charlotte Hornets - NBA Schedule
10   Nov 6, 2018        vs Atlanta   -11.5  Charlotte Hornets - NBA Schedule

[304 rows x 4 columns]

In [99]:
pd.read_html("http://www.espn.com/nba/lines/_/date")[0]

,0,1,2,3,4,5,6,7
0,"Oklahoma City at Cleveland, 7:00 PM ET",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,SPREAD,TOTAL,MONEY LINE,NaN,NaN,NaN,NaN
2,Westgate,-6.5+6.5OKC: -110CLE: -110,-6.5+6.5,OKC: -110CLE: -110,217o: -110u: -110,217.0,o: -110u: -110,OKC: -280CLE: +230
3,-6.5+6.5,OKC: -110CLE: -110,NaN,NaN,NaN,NaN,NaN,NaN
4,217,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
5,Caesar's,-6+6OKC: -110CLE: -110,-6+6,OKC: -110CLE: -110,217o: -110u: -110,217.0,o: -110u: -110,OKC: -250CLE: +210
6,-6+6,OKC: -110CLE: -110,NaN,NaN,NaN,NaN,NaN,NaN
7,217,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
8,William Hill,-6.5+6.5OKC: -110CLE: -110,-6.5+6.5,OKC: -110CLE: -110,217.5o: -110u: -110,217.5,o: -110u: -110,OKC: -260CLE: +220
9,-6.5+6.5,OKC: -110CLE: -110,NaN,NaN,NaN,NaN,NaN,NaN
10,217.5,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
11,Wynn,-6.5+6.5OKC: -110CLE: -110,-6.5+6.5,OKC: -110CLE: -110,217.5o: -110u: -110,217.5,o: -110u: -110,OKC: -270CLE: +230
12,-6.5+6.5,OKC: -110CLE: -110,NaN,NaN,NaN,NaN,NaN,NaN
13,217.5,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
14,Unibet,-6.5+6.5OKC: -105CLE: -115,-6.5+6.5,OKC: -105CLE: -115,220.5o: 130u: -156,220.5,o: 130u: -156,OKC: -278CLE: +225
15,-6.5+6.5,OKC: -105CLE: -115,NaN,NaN,NaN,NaN,NaN,NaN
16,220.5,o: 130u: -156,NaN,NaN,NaN,NaN,NaN,NaN
17,Conversation Â»,NaN,NaN,NaN,NaN,NaN,NaN,NaN
18,"Detroit at Orlando, 7:00 PM ET",NaN,NaN,NaN,NaN,NaN,NaN,NaN
19,NaN,SPREAD,TOTAL,MONEY LINE,NaN,NaN,NaN,NaN
20,Westgate,-3+3DET: -110ORL: -110,-3+3,DET: -110ORL: -110,213o: -110u: -110,213.0,o: -110u: -110,DET: -155ORL: +135
21,-3+3,DET: -110ORL: -110,NaN,NaN,NaN,NaN,NaN,NaN
22,213,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
23,Caesar's,-3+3DET: -110ORL: -110,-3+3,DET: -110ORL: -110,213o: -110u: -110,213.0,o: -110u: -110,DET: -150ORL: +130
24,-3+3,DET: -110ORL: -110,NaN,NaN,NaN,NaN,NaN,NaN
25,213,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
26,William Hill,-3+3DET: -110ORL: -110,-3+3,DET: -110ORL: -110,213o: -110u: -110,213.0,o: -110u: -110,DET: -155ORL: +135
27,-3+3,DET: -110ORL: -110,NaN,NaN,NaN,NaN,NaN,NaN
28,213,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
29,Wynn,-3+3DET: -110ORL: -110,-3+3,DET: -110ORL: -110,213o: -110u: -110,213.0,o: -110u: -110,DET: -150ORL: +130
...,...,...,...,...,...,...,...,...
150,-8.5+8.5,TOR: -110SAC: -110,NaN,NaN,NaN,NaN,NaN,NaN
151,232,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
152,William Hill,-8.5+8.5TOR: -110SAC: -110,-8.5+8.5,TOR: -110SAC: -110,232.5o: -110u: -110,232.5,o: -110u: -110,TOR: -400SAC: +320
153,-8.5+8.5,TOR: -110SAC: -110,NaN,NaN,NaN,NaN,NaN,NaN
154,232.5,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
155,Wynn,-8.5+8.5TOR: -110SAC: -110,-8.5+8.5,TOR: -110SAC: -110,232.5o: -110u: -110,232.5,o: -110u: -110,TOR: -400SAC: +320
156,-8.5+8.5,TOR: -110SAC: -110,NaN,NaN,NaN,NaN,NaN,NaN
157,232.5,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
158,Unibet,-8.5+8.5TOR: -110SAC: -110,-8.5+8.5,TOR: -110SAC: -110,232.5o: -106u: -114,232.5,o: -106u: -114,TOR: -400SAC: +320
159,-8.5+8.5,TOR: -110SAC: -110,NaN,NaN,NaN,NaN,NaN,NaN
160,232.5,o: -106u: -114,NaN,NaN,NaN,NaN,NaN,NaN
161,Preview Â» PickCenter Â»,NaN,NaN,NaN,NaN,NaN,NaN,NaN
162,"Minnesota at LA Lakers, 10:30 PM ET",NaN,NaN,NaN,NaN,NaN,NaN,NaN
163,NaN,SPREAD,TOTAL,MONEY LINE,NaN,NaN,NaN,NaN
164,Westgate,+5.5-5.5MIN: -110LAL: -110,+5.5-5.5,MIN: -110LAL: -110,239o: -110u: -110,239.0,o: -110u: -110,MIN: +200LAL: -250
165,+5.5-5.5,MIN: -110LAL: -110,NaN,NaN,NaN,NaN,NaN,NaN
166,239,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
167,Caesar's,+6-6MIN: -110LAL: -110,+6-6,MIN: -110LAL: -110,239o: -110u: -110,239.0,o: -110u: -110,MIN: +210LAL: -250
168,+6-6,MIN: -110LAL: -110,NaN,NaN,NaN,NaN,NaN,NaN
169,239,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
170,William Hill,+6-6MIN: -110LAL: -110,+6-6,MIN: -110LAL: -110,239.5o: -110u: -110,239.5,o: -110u: -110,MIN: +195LAL: -230
171,+6-6,MIN: -110LAL: -110,NaN,NaN,NaN,NaN,NaN,NaN
172,239.5,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
173,Wynn,+6-6MIN: -110LAL: -110,+6-6,MIN: -110LAL: -110,239o: -110u: -110,239.0,o: -110u: -110,MIN: +220LAL: -260
174,+6-6,MIN: -110LAL: -110,NaN,NaN,NaN,NaN,NaN,NaN
175,239,o: -110u: -110,NaN,NaN,NaN,NaN,NaN,NaN
176,Unibet,+5.5-5.5MIN: -102LAL: -119,+5.5-5.5,MIN: -102LAL: -119,238.5o: -116u: -104,238.5,o: -116u: -104,MIN: +195LAL: -238
177,+5.5-5.5,MIN: -102LAL: -119,NaN,NaN,NaN,NaN,NaN,NaN
178,238.5,o: -116u: -104,NaN,NaN,NaN,NaN,NaN,NaN
179,Preview Â» PickCenter Â»,NaN,NaN,NaN,NaN,NaN,NaN,NaN